
backend/dist/main/_internal/llama.cpp

electron-app/backend/_internal/llama.cpp

electron-app/dist/mac-arm64/llm-electron-app.app/Contents/Resources/backend/_internal/llama.cpp

backend/build/

*.cpp

electron-app/backend/*

electron-app/frontend/*

backend/dist/*

electron-app/dist/*
